* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
}


@font-face {
  font-family: manroperegular;
  src: url(txt-fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: manropemedium;
  src: url(txt-fonts/Manrope-Medium.ttf);
}

@keyframes blurHeader {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: rgba(255, 255, 255, 0.0);
  }

  to {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.555);
  }
}

@keyframes heromove {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes imagemove {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(0);
    filter: blur(100px);
    visibility: hidden;
    scale: 2;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
    visibility: visible;
    scale: 1;
  }
}


@keyframes h3color {
  0% {
    background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
    background-clip: text;
  }

  25% {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(126, 22, 217, 1) 100%);
    background-clip: text;
  }

  50% {
    background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgb(0, 0, 0) 100%);
    background-clip: text;
  }

  100% {
    background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
    background-clip: text;
  }
}

@keyframes half-headphone {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(-160px);

  }
}

@keyframes word-slider {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  40% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes icon-move {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  50% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes anime-13 {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rotateOnScroll {
  from {
    transform: translateX(-900px) rotate(0deg);
  }

  to {
    transform: translateX(-900px) rotate(45deg);
  }
}

@keyframes features-move {
  from {
    transform: translateY(200%);
    filter: blur(100px);
  }

  to {
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes paralax-rotate {
  from {
    transform: rotate(0);
    transform: translate(-280px, 70px);
  }

  to {
    transform: translate(-280px, 70px);
    transform: rotate(-60deg);
  }
}

@keyframes paralax-moveLeft {
  from {
    top: 100px;
    left: -150px;
  }

  to {
    top: 100px;
    left: -400px;
  }
}

@keyframes tripple-moving {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes black-fadein {
  from {
    transform: scale(1.4);
    transform: translateY(-50px);
    filter: blur(50px);
  }

  to {
    transform: scale(1);
    transform: translateY(0px);
    filter: blur(0px);
  }
}

.htopback {
  width: 100%;
  height: 150vh;
  background-image: radial-gradient(#d4d2d2 1.5px, transparent 1.5px);
  background-size: 20px 20px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
  overflow: hidden;

  >header {

    >div {
      animation: blurHeader 1s linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;
      z-index: 999;
      /* margin-top: 10px; */
      position: fixed;
      padding: 5px 20px;
      width: 100%;
      height: 10vh;
      /* background-color: transparent; */
      display: flex;
      align-items: center;
      top: 0;

      >figure {
        width: 15%;
        height: 100%;
        /* background-color: aqua; */
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        >a {
          width: 100%;
          height: auto;
          /* background-color: red; */
          padding: 10px;

          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      >ul {
        width: 70%;
        height: 100%;
        padding: 10px;
        /* background-color: transparent; */
        display: flex;
        align-items: center;
        justify-content: center;

        >li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 11.66%;
          height: 100%;
          /* border: 1px solid white; */

          &:hover {
            >a {
              color: #a9a8a8;

              &:visited {
                color: #a9a8a8;
              }
            }
          }

          >a {
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            /* background-color: transparent; */
            font-size: 18px;
            font-family: manroperegular;
            font-weight: bold;
            text-transform: capitalize;

            color: #2c3038;

            &:visited {
              color: #2c3038;
            }
          }
        }
      }

      >div {
        width: 15%;
        height: 100%;
        /* background-color: transparent; */
        display: flex;
        align-items: center;
        justify-content: center;

        >button {
          text-transform: capitalize;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 50px;
          background-color: #2c3038;
          border-radius: 150px;
          border: none;
          color: white;
          font-size: 13px;
          font-weight: bold;
          font-family: manroperegular;
          transition: 1s;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }

          >i {
            font-size: 18px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  >div {
    &:first-of-type {
      height: 10vh;
      /* background-color: wheat; */
    }

    &:last-of-type {
      overflow: visible;
      width: 100%;
      height: 120vh;
      /* background-color: red; */
      position: relative;

      >div {
        position: relative;
        width: 1300px;
        height: 700px;
        /* background-color: aqua; */
        top: 50px;
        left: 10px;
        margin: 0 auto;

        >h1 {
          margin-top: 150px;
          align-items: center;
          justify-content: center;
          position: relative;
          color: transparent;
          font-family: manropemedium;
          font-size: 300px;
          background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
          background-clip: text;
          animation: fadein 4s linear forwards, heromove 10s linear infinite;
          display: flex;
          transform: translate(50% -50%);
          font-weight: bold;
        }

        >figure {
          animation: fadein 2.5s linear forwards;
          margin-top: -200px;
          width: 800px;
          height: auto;
          position: absolute;
          top: 0px;
          left: 18%;
          background-color: transparent;
          overflow: visible;

          >img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
            animation: imagemove 10s linear infinite;
          }
        }

        >div {
          position: absolute;

          &:first-of-type {
            width: 250px;
            height: 100px;
            /* background-color: blue; */
            bottom: 10px;
            left: -20px;
            display: flex;
            align-items: center;
            justify-content: center;

            >h3 {

              animation: h3color 4s linear infinite;
              font-size: 28px;
              font-family: manroperegular;
              color: transparent;
              align-items: center;
              justify-content: center;
              display: flex;
              background-clip: text;
              background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
              -webkit-background-clip: text;
            }

          }

          &:last-of-type {
            width: 250px;
            height: 100px;
            /* background-color: blue; */
            bottom: 10px;
            right: -20px;
            display: flex;
            align-items: center;
            justify-content: center;

            >h3 {
              animation: h3color 4s linear infinite;
              font-size: 28px;
              font-family: manroperegular;
              color: transparent;
              align-items: center;
              justify-content: center;
              display: flex;
              background-clip: text;
              background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
              -webkit-background-clip: text;
            }
          }
        }

      }
    }
  }
}

.second-section {
  width: 100%;
  height: 130vh;
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
  background-color: #f7f9fa;

  >div {
    width: 100%;

    &:nth-of-type(1) {
      /* background-color: red; */
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      >div {
        width: 150px;
        height: 40px;
        background-color: #fc951e;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        >i {
          color: white;
        }
      }

      >h3 {
        font-size: 26px;
        color: #2c3038;
        align-items: center;
        justify-content: center;
        display: flex;
        font-family: manroperegular;
        font-weight: normal;
        margin-right: 10px;

        >a {
          text-decoration: underline;
          font-size: 26px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: manroperegular;
          color: #2c3038;

          &:visited {
            color: #2c3038;
          }
        }
      }
    }

    &:nth-of-type(2) {
      height: 100vh;
      width: 100%;
      /* background-color: #fc951e; */
      display: flex;

      >div {
        width: 60%;
        height: 100%;
        /* border: 1px solid black; */

        &:first-of-type {
          display: flex;
          align-items: center;
          justify-content: center;

          >figure {
            width: 100%;
            height: 80%;
            /* background-color: red; */

            >img {
              animation: half-headphone 10s linear forwards;
              animation-timeline: view();
              animation-range: entry 0% cover 50%;
              transform: translateX(-160px);
            }
          }
        }

        &:last-of-type {
          >div {
            width: 100%;
            height: 25%;
            /* background-color: aqua; */
            /* border: 1px solid red; */

            &:nth-of-type(1) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-left: 20px;

              >i {
                font-size: 70px;
                color: white;
                text-shadow:
                  -1px -1px 0 #c8cacf,
                  1px -1px 0 #c8cacf,
                  -1px 1px 0 #c8cacf,
                  1px 1px 0 #c8cacf;
                display: flex;
                justify-content: start;
                align-items: center;
              }
            }

            &:nth-of-type(2) {
              display: flex;
              align-items: center;
              justify-content: start;

              >h2 {
                color: #2c3038;
                font-weight: bolder;
                width: 100%;
                height: 210px;
                font-size: 70px;
                /* background-color: chartreuse; */
                font-family: manroperegular;
                position: relative;

                >.word-slider {
                  width: 250px;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  height: 105px;
                  /* background-color: red; */
                  overflow: visible;

                  >span {
                    font-size: 70px;
                    font-family: manroperegular;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    text-align: left;
                    opacity: 0;
                    animation: word-slider 9s linear infinite;

                    &:nth-of-type(1) {
                      animation-delay: 0s;
                    }

                    &:nth-of-type(2) {
                      animation-delay: 3s;
                    }

                    &:nth-of-type(3) {
                      animation-delay: 6s;
                    }
                  }
                }

                >strong {
                  color: #2c3038;
                  font-size: 70px;
                  font-family: manroperegular;
                  position: absolute;
                  width: 250px;
                  position: absolute;
                  right: 110px;
                  bottom: 0;
                  height: 105px;
                  /* background-color: rgb(136, 0, 255); */
                }
              }
            }

            &:nth-of-type(3) {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-left: 20px;
              padding-top: 20px;

              /* background-color: red; */
              >p {
                width: 65%;
                height: 100%;
                font-size: 17px;
                font-family: manroperegular;
                color: #8f949c;
                line-height: 30px;
              }
            }

            &:nth-of-type(4) {
              display: flex;
              align-items: start;
              justify-content: start;
              padding-left: 20px;

              /* background-color: yellowgreen; */
              >button {
                color: white;
                font-size: 16px;
                width: 221px;
                height: 63px;
                border-radius: 5px;
                border: none;
                background-color: #2c3038;
                padding: 18px 34px;
                font-family: manroperegular;
                font-weight: bold;


                &:hover {
                  >i {
                    animation: icon-move 1s linear infinite alternate;
                  }
                }

                >i {
                  margin-left: 5px;
                  color: white;
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      height: 20vh;
      width: 100%;
      /* background-color: red; */
      display: flex;

      >div {
        height: 100%;
        width: 33.33%;
        /* background-color: aqua; */
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;


        &:nth-of-type(1) {
          >h2 {
            &:hover {
              &::before {
                background-color: #2c3038;
                box-shadow: none;
              }

              &::after {
                color: white;
              }
            }

            &::after {
              z-index: 2;
              content: '01';
              font-size: 22px;
              position: absolute;
              top: -10px;
              left: -100px;
              color: #2c3038;
              width: 80px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: .35s ease-in-out;
            }

            &::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: white;
              top: -10px;
              left: -100px;
              box-shadow: 0 15px 45px #2c3038;
              transition: .35s ease-in-out;

            }
          }
        }

        &:nth-of-type(2) {
          >h2 {
            &:hover {
              &::before {
                background-color: #2c3038;
                box-shadow: none;
              }

              &::after {
                color: white;
              }
            }

            &::after {
              z-index: 2;
              content: '02';
              font-size: 22px;
              position: absolute;
              top: -10px;
              left: -100px;
              color: #2c3038;
              width: 80px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: .35s ease-in-out;
            }

            &::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: white;
              top: -10px;
              left: -100px;
              box-shadow: 0 15px 45px #2c3038;
              transition: .35s ease-in-out;
            }
          }
        }

        &:nth-of-type(3) {
          >h2 {
            &:hover {
              &::before {
                background-color: #2c3038;
                box-shadow: none;
              }

              &::after {
                color: white;
              }
            }

            &::after {
              z-index: 2;
              content: '03';
              font-size: 22px;
              position: absolute;
              top: -10px;
              left: -100px;
              color: #2c3038;
              width: 80px;
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: .35s ease-in-out;
            }

            &::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: white;
              top: -10px;
              left: -100px;
              box-shadow: 0 15px 45px #2c3038;
              transition: .35s ease-in-out;
            }
          }
        }

        >h2 {
          width: 50%;
          color: #2c3038;
          font-size: 22px;
          font-family: manroperegular;
          position: relative;
          margin-top: 10px;

        }


        >strong {
          color: #2c3038;
          font-size: 22px;
          font-family: manropemedium;
          font-weight: bolder;
        }
      }
    }
  }
}

.features {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
  background-color: #f7f9fa;

  >div {
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;


    &:first-of-type {
      /* background-color: #fc951e; */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      >div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        /* background-color: green; */
        &:first-of-type {
          >h3 {
            /* z-index: 2; */
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: right;
            color: transparent;
            background: linear-gradient(90deg, rgba(255, 0, 123, 1) 70%, rgba(126, 22, 217, 1) 100%);
            background-clip: text;
            font-size: 180px;
            font-family: manropemedium;
            margin-left: -200px;
            /* animation: anime-13 1s linear both;
            animation-timeline: view();
            animation-range: entry 0% cover 90%; */
            position: relative;

            /* &::before {
              position: absolute;
              content: '';
              width: 1480px;
              height: 150px;
              background-color: red;
              top: -20px;
              right: -765px;
              animation: none;
              background-color: #f7f9fa;
              z-index: -10;
            } */
          }
        }

        &:last-of-type {
          >h3 {
            z-index: 2;
            width: 50%;
            font-size: 55px;
            font-family: manropemedium;
            font-weight: bold;
            color: #2c3038;
            display: flex;
            justify-content: start;
            width: 50%;
            height: auto;
            margin-left: -450px;
          }
        }
      }
    }

    &:last-of-type {
      width: 100%;
      height: 90vh;
      /* background-color: purple; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      overflow: visible;

      >div {
        width: 33.33%;
        height: 50%;
        /* background-color: aqua; */
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        transform: translateY(200%);
        animation: features-move 10s ease-in-out forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
        animation-delay: 2s;

        >i {
          width: 100%;
          height: 33.33%;
          /* background-color: #fc951e; */
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 60px;
          color: #2c3038;
        }

        >h3 {
          font-size: 19px;
          height: 13.33%;
          width: 100%;
          /* background-color: rgb(12, 158, 26); */
          color: #2c3038;
          display: flex;
          align-items: start;
          justify-content: center;
          padding-top: 10px;
          font-family: manroperegular;
        }

        h4 {
          font-size: 17px;
          height: 53.33%;
          width: 80%;
          /* background-color: rgb(174, 14, 14); */
          font-family: manroperegular;
          color: #8f949c;
          display: flex;
          align-items: start;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

.rate {
  width: 100%;
  height: 150px;
  /* background-color: blue; */
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
  background-color: #f7f9fa;

  display: flex;
  align-items: center;
  justify-content: center;

  >div {
    width: 90%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
      width: 113px;
      height: 32px;
      background-color: #2fba79;
      font-family: manropemedium;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      color: white;
      border-radius: 50px;
      margin-right: 10px;
    }

    >h3 {
      width: 673px;
      height: 32px;
      font-family: manroperegular;
      font-size: 20px;
      color: #2c3038;
      margin-right: 10px;

      >a {
        color: #2c3038;
        text-decoration: underline;
        text-decoration-color: #2c3038;
      }
    }
  }
}

.paralax-container {
  display: flex;
  scroll-behavior: smooth;
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
  background-color: #f7f9fa;

  >div {
    width: 50%;

    &:first-of-type {
      width: 50%;
      height: 300vh;
      /* background-color: red; */

      >div {
        width: 100%;
        height: 100vh;
        /* background-color: #2fba79; */
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: start;



        >figure {
          width: 100%;
          height: 100%;
          /* background-color: red; */
          transform: translate(-150px, 70px);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          >h2 {
            top: 100px;
            left: -150px;
            position: absolute;
            font-size: 300px;
            color: transparent;
            background: linear-gradient(90deg, rgba(255, 0, 123, 1) 0%, rgba(126, 22, 217, 1) 100%);
            background-clip: text;
            font-family: manropemedium;
            animation: paralax-moveLeft 10s linear forwards;
            animation-timeline: scroll();
            animation-range: entry 5% cover 100%;
            scroll-behavior: smooth;
          }

          >img {
            animation: paralax-rotate 20s linear;
            animation-timeline: scroll();
            animation-range: entry 10% cover 100%;
            z-index: 2;
            transform-origin: right left;

          }
        }
      }
    }

    &:last-of-type {
      >div {
        height: 100vh;

        >div {
          width: 100%;
          height: 25%;

          &:first-of-type {
            display: flex;
            align-items: end;
            justify-content: center;
            margin-left: -150px;
            margin-bottom: 10px;

            >i {
              display: flex;
              align-items: center;
              font-size: 60px;
              color: white;
              text-shadow:
                -1px -1px 0 #8f949c,
                1px -1px 0 #8f949c,
                -1px 1px 0 #8f949c,
                1px 1px 0 #8f949c;

            }
          }

          &:last-of-type {

            >button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 235px;
              height: 63px;
              font-size: 16px;
              font-family: manroperegular;
              color: white;
              background-color: #2c3038;
              border-radius: 5px;
              border: none;
              margin-left: 200px;
              margin-top: 50px;
              gap: 10px;

              &:hover {
                >i {
                  animation: icon-move 1s linear infinite alternate;
                }
              }


              >i {
                color: white;
              }
            }
          }

        }

        >h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 80px;
          font-family: manropemedium;
          color: #2c3038;
          width: 50%;
          margin-left: 200px;
        }

        >h4 {
          font-size: 17px;
          font-family: manroperegular;
          color: #8f949c;
          font-weight: normal;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 200px;
          margin-top: 20px;
        }

        /* &:nth-of-type(1) {
          background-color: green;
        }

        &:nth-of-type(2) {
          background-color: goldenrod;
        }

        &:nth-of-type(3) {
          background-color: purple;
        } */
      }
    }
  }
}

.tripple-moving {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(to right,
      transparent 0%,
      transparent 24.9%,
      rgba(0, 0, 0, 0.08) 25%,
      /* خط اول */
      transparent 25.1%,
      transparent 49.9%,
      rgba(0, 0, 0, 0.08) 50%,
      /* خط دوم */
      transparent 50.1%,
      transparent 74.9%,
      rgba(0, 0, 0, 0.08) 75%,
      /* خط سوم */
      transparent 75.1%,
      transparent 100%);
  background-color: #f7f9fa;
  /* gap: 50px; */
  display: flex;
  align-items: center;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  >div {
    font-weight: bolder;
    display: inline-flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    font-size: 90px;
    color: #2c3038;
    font-family: manropemedium;
    animation: tripple-moving 20s linear infinite;

    /* &:nth-of-type(1) {
      animation: tripple-moving 20s linear infinite;
      animation-delay: 40s;
    }

    &:nth-of-type(2) {
      animation: tripple-moving 30s linear infinite;
      animation-delay: 10s;

    }

    &:nth-of-type(3) {
       animation: tripple-moving 10s linear infinite;
    } */
  }
}

.black-section {
  /* margin-top: 100px; */
  width: 100%;
  height: 120vh;
  background-image: url(img/img-back.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  gap: 100px;

  >div {
    &:first-of-type {
      margin-top: 100px;
      margin-left: 15%;
      width: 70%;
      height: 70vh;
      /* background-color: rgba(255, 255, 255, 0.105); */
      display: flex;
      align-items: center;
      justify-content: center;
      /* backdrop-filter: blur(10px) brightness(1.1); */
      /* border: 1px solid rgba(255, 255, 255, 0.413); */
      border-radius: 50px;

      >h2 {
        font-size: 110px;
        color: rgba(255, 255, 255, 0.591);
        font-family: manroperegular;
        font-weight: bolder;
        text-align: center;
        animation: heromove 5s linear infinite;

      }
    }

    &:last-of-type {
      width: 100%;
      height: 70vh;
      /* background-color: red; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 120px;

      >div {
        width: 200px;
        height: 200px;
        /* background-color: #2fba79; */
        border-radius: 50%;
        overflow: hidden;

        >figure {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            >img {
              transform: scale(1.3);
            }

            >figcaption {
              transform: scale(1.3);
            }
          }

          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .35s;


          }

          >figcaption {
            position: absolute;
            top: 45%;
            left: 30%;
            color: white;
            text-align: center;
            z-index: 3;
            font-size: 20px;
            font-family: manroperegular;
            font-weight: bold;
            transition: 1s;
          }
        }
      }
    }
  }
}

.color-headphones {
  width: 100%;
  height: 100vh;
  background-color: #f7f9fa;

  >div {
    width: 100%;

    &:nth-of-type(1) {
      height: 30vh;
      /* background-color: red; */
      display: flex;
      align-items: center;
      justify-content: center;

      >h2 {
        font-size: 70px;
        color: #2c3038;
        text-align: center;
        width: 50%;
        font-family: manropemedium;
        font-weight: bolder;
      }
    }

    &:nth-of-type(2) {
      height: 50vh;
      /* background-color: #2fba79; */

      >div {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-of-type {
          /* background-color: aqua; */
          gap: 100px;

          >div {
            width: 200px;
            height: 190px;
            /* background-color: rgb(255, 0, 217); */
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: center;

            >figure {
              width: 100%;
              height: 100%;
              /* background-color: #2fba79; */
              overflow: visible;

              >img {
                width: 100%;
                height: 100%;
                object-fit: contain;

              }
            }
          }
        }

        &:last-of-type {
          /* background-color: #fc951e; */
          gap: 100px;

          >div {
            padding-top: 20px;
            width: 200px;
            height: 190px;
            /* background-color: rgb(255, 0, 217); */
            display: flex;
            align-items: start;
            justify-content: center;

            &:nth-of-type(1) {
              position: relative;

              &::after {
                content: 'Blue';
                position: absolute;
                top: 85px;
                left: 80px;
                font-size: 18px;
                color: #2c3038;
                font-family: manropemedium;
                font-weight: bolder;
              }
            }

            &:nth-of-type(2) {
              position: relative;

              &::after {
                content: 'Pink';
                position: absolute;
                top: 85px;
                left: 85px;
                font-size: 18px;
                color: #2c3038;
                font-family: manropemedium;
                font-weight: bolder;
              }
            }

            &:nth-of-type(3) {
              position: relative;

              &::after {
                content: 'Grey';
                position: absolute;
                top: 85px;
                left: 85px;
                font-size: 18px;
                color: #2c3038;
                font-family: manropemedium;
                font-weight: bolder;
              }
            }

            &:nth-of-type(4) {
              position: relative;

              &::after {
                content: 'Silver';
                position: absolute;
                top: 85px;
                left: 80px;
                font-size: 18px;
                color: #2c3038;
                font-family: manropemedium;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      height: 20vh;
      /* background-color: purple; */
      display: flex;
      align-items: center;
      justify-content: center;

      >div {
        width: 50%;
        height: 60%;
        /* background-color: yellow; */
        display: flex;

        >label {
          width: 50%;
          height: 100%;
          background-color: #2c3038;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          color: white;
          font-family: manropemedium;
          font-weight: bolder;
          border: none;
        }

        >button {
          width: 50%;
          height: 100%;
          background-color: rgba(255, 0, 123, 1);
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          color: white;
          font-family: manropemedium;
          font-weight: bolder;
          cursor: pointer;
          transition: 1s;

          &:hover {
            background-color: rgba(126, 22, 217, 1);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 60vh;
  background-color: #f7f9fa;
  /* border-top: 1px solid #8c1818; */
  display: flex;
  align-items: center;
   background-image: radial-gradient(#d4d2d2 1.5px, transparent 1.5px);
  background-size: 20px 20px;

  >div {
    width: 50%;
    height: 100%;

    &:first-of-type {
      display: flex;
      align-items: center;
      justify-content: end;
      /* background-color: red; */
      overflow: hidden;

      >figure {
        width: 350px;
        height: 350px;
        border-radius: 5px;
        overflow: hidden;
        outline: 5px solid rgba(255, 0, 123, 1);
        margin-right: 10px;
        transition: 1s;

        &:hover {
          outline: 5px solid #8c1818;
          outline-offset: 5px;

          >img {
            filter: grayscale(0);
          }
        }

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(1);
          transition: 1s;
        }
      }
    }

    &:last-of-type {
      display: flex;
      align-items: center;
      justify-content: start;
      /* background-color: yellow; */

      >div {
        width: 650px;
        height: 400px;
        background-color: #f7f9fa;
        outline: 5px solid rgba(255, 0, 123, 1);
        margin-left: 10px;
        border-radius: 5px;
        overflow: hidden;
        transition: 1s;
        &:hover{
          outline: 5px solid #8c1818;
          outline-offset: 5px;
        }

        >h2 {
          width: 100%;
          height: 25%;
          /* background-color: green; */
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 45px;
          font-weight: bold;
          font-family: manropemedium;
          color: #8c1818;
          text-transform: uppercase;
        }

        >h3 {
          width: 100%;
          height: 25%;
          /* border: 1px solid black; */
          display: flex;
          align-items: center;
          font-size: 30px;
          margin-left: 10px;
          font-family: manropemedium;
          color: #8c1818;
          text-transform: capitalize;
          &:nth-of-type(3) {
            >a {
              transition: .35s;
              color: rgba(255, 0, 123, 1);
              margin-left: 10px;

              &:visited {
                color: rgba(255, 0, 123, 1);
              }
              font-family: manropemedium;

              &:hover{
                color: #8c1818;
                &:visited{
                  color: #8c1818;
                }
              }
            }
          }
        }
      }
    }
  }
}