
.icon-bag-check:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-mic-outline:before { content: '\e804'; } /* '' */
.icon-water:before { content: '\e805'; } /* '' */
.icon-signal:before { content: '\e806'; } /* '' */
.icon-volume-middle:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
